<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<style>
 body{color:#222;font-family:"Liberation Sans",arial,sans-serif;}
 a{text-decoration:none;color:#24c}
 a:hover{text-decoration:underline}
 tt{font-family:"Liberation Mono",monospace,monospace}
 table{margin: 8% auto 0 auto;border-collapse:collapse}
 th,td{padding:8px;border:1px solid #ccc}
</style>
<table border="1"><tbody>
	<tr><th>File</th><th>Name</th><th>Hashcode</th><th>Size</th></tr>
	{{ range .Files }}
		<tr>
			<td><a href="{{ .Url }}">{{ .Uname}}</a></td>
			<td><tt>{{ .Name }}</tt></td>
			<td><tt>{{ .Hash }}</tt></td>
			<td>{{ .Size }}</td>
		</tr>
	{{end}}
</tbody></table>
