<!DOCTYPE html>
<html lang="en">
    <head>
		<title>A Pomf Clone</title>
		<meta name="viewport" content="width=device-width" />
		<meta charset="utf-8" />
        <style>
		 html,body{margin:0 auto;color:#222;background:#fff}
         main,aside{
			 font-family: "Liberation Sans", arial, sans-serif;
			 line-height: 1.4em;
			 font-size:90%;
			 max-width:30em;
			 float:left;
			 padding:1em;
			 margin:1em;
			 padding-top:0;
		 }
		 main{background:#def;border:2pt solid #cdf;border-radius:4pt}
         main h1{font-size: 150%}
		 aside{margin-left:0;padding-left:0}
		 aside h1{margin-top:0}
		 aside h2{line-height: 1.6em}
         p,li{text-align:justify}
		 hr{border-width:0;border-bottom:2pt solid #cdf}
		 h1,a{text-decoration:none;color:#24c}
		 a:hover{text-decoration:underline}
		 tt{font-family:monospace,monospace}
         table{padding:4px;margin:4px auto;border-collapse:collapse}
		 th,td{padding:4px;margin:0;border:1px solid #ccc}
		 blockquote {padding:8px;margin: 4px 10%;background:#def}
		 input,textarea,select{padding:4px;margin:4px;background:#eee;border:1pt solid #ccc}
		 input[name=timeout]{width:4em}
		 input[type=submit]{font-weight:bold;font-family:110%}
		 textarea{width:90%}
		 @media screen and (max-width: 60em){
			 main,aside{float:none;display:block;width:calc(100%-2em)}
             aside{padding:0;padding-top:1em;margin-left:1em}
		 }
		</style>
    </head>
    <body>
		<main>
            <form action="/upload?output=html"
				  method="post"
				  enctype="multipart/form-data">
				<h1><input type="submit" value="Upload"/> file(s)</h1>
				<input type="file"
					   name="files"
					   reqired
					   multiple />
                <br/>
				<strong>Timeout:</strong>
				<input type="number" name="timeout" value="0">
				<select name="tunit">
					<option value="m">Minute(s)</option>
					<option value="h">Hour(s)</option>
					<option value="d">Day(s)</option>
					<option value="w">Week(s)</option>
				</select>
            </form>
			<hr/>
            <form action="/upload?output=html"
				  method="post" id="paste"
				  enctype="multipart/form-data">
				<h1><input type="submit" value="Upload" /> text</h1>
				<textarea form="paste" required
						  placeholder="Text to upload..."
						  rows="8"
						  name="text"></textarea>
				<br/>
				<strong>Timeout:</strong>
				<input type="number" name="timeout" value="0">
				<select name="tunit">
					<option value="m">Minute(s)</option>
					<option value="h">Hour(s)</option>
					<option value="d">Day(s)</option>
					<option value="w">Week(s)</option>
				</select>
            </form>
        </main>
		
		<aside>
            <h1>Upload anything. Max file size is {{ bytes .MaxSize }}</h1>
			<p>
				This is a public file server in the Pomf
				tradition. Anyone can upload anything, without any
				guarantee. Files might be deleted if their content has
				legal problem, such that the it endangers the
				operation of the whole service, or under other
				<em>sepcific</em> circumstances.
			</p>
			
			<blockquote>
				<b>Note:</b> If you got here from an unexpected email, 
				or a weird imageboard post, you probably shouldn't trust it.
			</blockquote>

			<h3>Notes</h3>
			<ul>
    			<li>Maximum upload file size is {{ bytes .MaxSize }}. All uploads are public.</li>
    			<li>Currently all content is allowed under US
                    law. Malware and child porn is not welcome here.</li>
    			<li>All filetypes are allowed, except exe, bat, cmd, msi
                    or similar (Due to malware).</li>
    			<li>No logs are kept, no logs over uploading nor over
    				downloading.</li>
    			<li>We're non-profit and offer this service for free without ads.</li>
    			<li>For removal of a file or to submit abuse reports
                    (DMCA) see our contact section.</li>
				<li>All files were uploaded by anonymous users. The
                    operators are not responsible for any files hosted
                    on this site.</li>
				<li>Files <em>can</em> be uploaded with a timeout, so
					that they will self-delete themselves after a
					specified period. <strong>To
					disable the timeout, set it to zero.</strong></li>
			</ul>
			{{ with .Stats }}
				<h3>Statistics
					<span style="font-weight:normal;font-size:smaller">(Calculated every 30 minutes)</span>
				</h3>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>Unique</th>
							<th>Overall</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Overall Files</td>
							<td>{{ .Hash.Count }}</td>
							<td>{{ .File.Count }}</td>
						</tr>
						<tr>
							<td>Total size</td>
							<td>{{ bytes .Hash.Sum }}</td>
							<td>{{ bytes .File.Sum }}</td>
						</tr>
						<tr>
							<td>Arithmetic Mean</td>
							<td>{{ bytes .Hash.AritMean }}</td>
							<td>{{ bytes .File.AritMean }}</td>
						</tr>
						<tr>
							<td>Harmonic Mean</td>
							<td>{{ bytes .Hash.HarmMean }}</td>
							<td>{{ bytes .File.HarmMean }}</td>
						</tr>
						<tr>
							<td>Contraharmonic Mean</td>
							<td>{{ bytes .Hash.CHarmMean }}</td>
							<td>{{ bytes .File.CHarmMean }}</td>
						</tr>
						<tr>
							<td>Geometric Mean</td>
							<td>{{ bytes .Hash.GeomMean }}</td>
							<td>{{ bytes .File.GeomMean }}</td>
						</tr>
						<tr>
							<td>Turncated Mean</td>
							<td>{{ bytes .Hash.TurncMean }}</td>
							<td>{{ bytes .File.TurncMean }}</td>
						</tr>
						<tr>
							<td>Winsorized Mean</td>
							<td>{{ bytes .Hash.WinsMean }}</td>
							<td>{{ bytes .File.WinsMean }}</td>
						</tr>
						<tr>
							<td>Midrange</td>
							<td>{{ bytes .Hash.Midrange }}</td>
							<td>{{ bytes .File.Midrange }}</td>
						</tr>
						<tr>
							<td>Midhinge</td>
							<td>{{ bytes .Hash.Midhinge }}</td>
							<td>{{ bytes .File.Midhinge }}</td>
						</tr>
						<tr>
							<td>Trimean</td>
							<td>{{ bytes .Hash.Trimean }}</td>
							<td>{{ bytes .File.Trimean }}</td>
						</tr>
						<tr>
							<td>Mode</td>
							<td>{{ bytes .Hash.Mode }}</td>
							<td>{{ bytes .File.Mode }}</td>
						</tr>


					</tbody></table>
			{{ end }}

			<h3>About</h3>
			<p>
				If there are any [legal, technical, ...] issues with
				any content hosted on this server, please contact the
				<a href="mailto:xatasan@firemail.cc">admin</a>.
			</p>
		</aside>
	</body>
</html>
