
body {
    font-family: Consolas, Monaco, monospace, monospace;
    color: #eee;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    margin: 2em;
    padding: 2em;
    text-align: center;
    max-width: 32em;
    background: rgba(37,37,37,0.9);
    border: 1px solid #000;
    
}

p, li { text-align: justify; }

#toggle { text-align: center; }

#toggle span {
    color: #abcdef;
    cursor: pointer;
}

h1 {
    text-align: left;
    margin: 0;
}

#fig {
    position: fixed;
    bottom: 1em;
    right: 1em;
    max-width: 200px;
    max-height: 75vh;
    z-index: -1;
}

aside {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    max-width: 20em;
    border: 1px solid #012345;
    background: #abcdef;
    color: #111;
    z-index: -1;
}

#timeout {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #222;
}

nav { margin-top: 1em; }

textarea {
    padding: 8px;
    margin: 8px;
    min-width: 80%;
    max-width: 100%;
    border: 1px solid #222;
    font-family: Consolas, Monaco, monospace, monospace;
}

code { font-family: inherit; }

a, code:hover {
    color: #abcdef;
    text-decoration: none;
}

table#stat {
    margin: 0 auto;
}

table#stat td { padding: 2px 8px; }
table#stat td:nth-child(1) { text-align: left; }
table#stat td:nth-child(2) { text-align: right; }

/* MOBILE LAYOUT */
@media (max-width: 550px) {
    body {
	display: block;
        margin: 0;
    }
    
    main {
        margin: 0;
    }
    
    img {
        display: none;
    }

    aside {
        width: calc(100vw-2em);
        max-width: none;
        margin: 0;
        border-radius: 0;
        border-width: 1px 0 0 0;
    }
}
